[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
djangorestframework = "*"
ruff = "*"
debugpy = "*"
python-decouple = "*"
streamlit = "*"

[dev-packages]
ptpython = "*"
ipython = "*"
ruff = "*"
debugpy = "*"
django-extensions = "*"
djangorestframework = "*"

[requires]
python_version = "3.12"
